<div *ngIf="loading; else finishLoading">Loading...</div>
<ng-template #finishLoading>
    <app-print *ngIf="!checkIfLIBstickAccountExists(); else firstSetup"></app-print>
    <ng-template #firstSetup>
        <p>Your LIBstick URL is missing.</p>
        <p>Do you already have a LIBstick account?</p>
        <div *ngIf="!showSocialICONS; else socialICONS">
            <button routerLink="/config">YES</button>
            <button (click)="onNOLIBstickAccount()">NO</button>
        </div>
        <ng-template #socialICONS>bla bla</ng-template>
    </ng-template>
</ng-template>