$primary-color: #07516a;

div {

  text-align: center;
  .print-btn {
    background-color: $primary-color; 
    border: 2px solid $primary-color;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
  
    &:hover {
      background-color: white;
      color: black;
      transform: scale(1.03);
    }
  }
  
  .disabled-btn {
    pointer-events: none;
    opacity: 0.6;
  }

  p {
    font-size: 16px;
    color: $primary-color;
    margin-left: 2px;
    margin-top: 20px;
  }

  ol {
    text-align: left;
    font-size: 16px;
    color: $primary-color;
    margin-top: 0;
    margin-bottom: 2px;
  }
}

